In [2]:
import calendar
yy=2022
mm=1
print(calendar.month(yy,mm))

    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [4]:
num=max(12,13,14)
print(num)

14

In [5]:
def func(name,age):
    print(name,age)
func("adarsh",22)

adarsh 22

In [6]:
square=x(x,y)
print(square,2,4)

NameError: name 'x' is not defined

In [17]:
my_list = [12, 65, 54, 39, 102, 339, 221,]
result = list(filter(lambda x: (x % 13 == 0), my_list))
print("Numbers divisible by 16 are",result)

Numbers divisible by 16 are [65, 39, 221]

In [11]:
list_=[12,14,50,45,39,66,28,36]
result=((2%12==0),list_)
print("numbers divisible by 12 are:",result)

numbers divisible by 12 are: (False, [12, 14, 50, 45, 39, 66, 28, 36])

In [13]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("square of every number in the list:")
square_nums = list(map(lambda x: x ** 2, nums))
print(square_nums)

square of every number in the list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
class parrot:
    #class attribute
    species="bird"
    
    #instance attribute
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
#instantiate the parrot class
blue=parrot("blue",10)
woo=parrot("woo",15)

# #access the class attributes
# print("blue is a {}".format(blue.__class__.species))
# print("woo is also a {}".format(woo.__class__.species))

# #access the instance attributes
# print("{} is {} years old".format(blue.name,blue.age))
# print("{} is {} years old".format(woo.name,woo.age))

blue is a bird
woo is also a bird
blue is 10 years old
woo is 15 years old

In [23]:
class home:
    
    def __init__(self,color,place):
        self.color = color
        self.place = place
        

h1=home("blue","calicut")
h2=home("yellow","calicut")

print("{} colored house and located at {}".format(h1.color, h1.place))

blue colored house and located at calicut