In [2]:
name=(input("enter the first name:"))
name1=(input("enter the last name:"))
print(name1+name)

enter the first name:harry
enter the last name:potter
potterharry

In [1]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 12,4,335,67,5
List :  ['12', '4', '335', '67', '5']
Tuple :  ('12', '4', '335', '67', '5')

In [2]:
value=(input("comma seperated numbers:"))
list=value.split(",")
tuple=tuple(list)
print('list:',list)
print('tuple:',tuple)

comma seperated numbers:12,45,7
list: ['12', '45', '7']
tuple: ('12', '45', '7')

In [30]:
def sum_thrice(x, y, z):

     sum = x + y + z
  
     if x == y == z:
        sum = sum * 3
     return sum

print(sum_thrice(1, 2, 3))
print(sum_thrice(3, 3, 3))

6
27

In [38]:
def thrice(a,b,c):
    sum=a+b+c
    if a==b==c:
        sum=sum*3
    return sum
print(thrice(2,4,6))
print(thrice(3,3,3))

12
27

In [39]:
# Python code to convert string to list character-wise
def Convert(string):
	list1=[]
	list1[:0]=string
	return list1
# Driver code
str1="ABCD"
print(Convert(str1))

['A', 'B', 'C', 'D']

In [7]:
def con(string):
    list1=[]
    list1[:0]=string
    return list1
stri="WXYZ"
print(con(stri))

['W', 'X', 'Y', 'Z']

In [11]:
COLOR=("black","white","yellow","blue")
COLOR1=("yellow","pink","red","blue")
print(set(COLOR)&set(COLOR1))

{'blue', 'yellow'}

In [12]:
C1=(1,2,3,4,5)
C2=(1,5,6,7,8)
print(set(C1)&set(C2))

{1, 5}

In [ ]:
def test(a):
        def add(b):
                nonlocal a
                a += 1
                return a+b
        return add
func= test(4)
print(func(4))

In [14]:
def tess(A):
    def add(B):
        nonlocal A
        A+=10
        return A+B
    return add
fun=tess(6)
print(fun(6))

22

In [ ]:
def multiply(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total


Lst = [8, 2, 3, -1, 7]

print(multiply(Lst))

In [16]:
import math
list1=[1,2,3]
res=math.prod(list1)
print("multiplication of list:",res)

multiplication of list: 6

In [17]:
import math
list2=[2,4,6,8]
A=math.prod(list2)
print("multiplication of list:",A)

multiplication of list: 384

In [18]:
import math
list3=[9,8,7,6]
AB=math.prod(list3)
print("multiplication of list:",AB)

multiplication of list: 3024

In [ ]:
#student class
class student:
def __init__(self, roll,name): #to initialize roll and name
self.roll=roll
self.name=name
def display(self): # i. to display student's information
print(self.roll,self.name,self.age,self.marks)
def setAge(self): # ii. to set age of the student
self.age=int(input("Enter age : "))
def setMarks(self): # iii. to set marks of the student
self.marks=int(input("Enter marks : "))
s1=student(111,"Madhuri") #creating objects
s2=student(222,"Tara")
#calling methods
s1.setAge()
s1.setMarks()
s2.setAge()
s2.setMarks()
s1.display()
s2.display()

In [19]:
#student class
class student:
    def __init__(self, roll,name):
        self.roll=roll
        self.name=name
    def display(self):
        print(self.roll,self.name,self.age,self.marks)
    def setAge(self):
        self.age=int(input("Enter age : "))
    def setMarks(self):
        self.marks=int(input("Enter marks : "))
s1=student(111,"Madhuri")
s2=student(222,"Tara")
s1.setAge()
s1.setMarks()
s2.setAge()
s2.setMarks()
s1.display()
s2.display()

Enter age : 15
Enter marks : 90
Enter age : 15
Enter marks : 80
111 Madhuri 15 90
222 Tara 15 80

In [21]:
class home:
    
    def __init__(self,color,place):
        self.color = color
        self.place = place
        

h1=home("blue","calicut")
h2=home("yellow","calicut")

print("{} colored house and located at {}".format(h1.color, h1.place))
print("{} colored house and located at {}".format(h2.color,h2.place))

blue colored house and located at calicut
yellow colored house and located at calicut

In [10]:
class student:
    def __init__(self,student_id,student_name,student_class):
        self.student_id=student_id
        self.student_name=student_name
        self.student_class=student_class
        
    def display(self):
        print("student_ID is {}".format(self.student_id))
        print("student_Name is {}".format(self.student_name))
        print("student_Class is {}".format(self.student_class))
        
Amal=student("P70","Amal","10B")
Amal.display()

student_ID is P70
student_Name is Amal
student_Class is 10B

In [2]:
A=("adarsh")
B=("Amritha")

x=A[0:2]
A=A.replace(A[0:2],B[0:2])
B=B.replace(B[0:2],x)
print(A,B)

Amarsh adritha

In [8]:
color1=set(["white","black","yellow"])
color2=set(["red","blue","black"])
print(color1-color2)

{'white', 'yellow'}