In [20]:
for i in range(1,10):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [97]:
rows = int(input("Enter Pyramid Pattern Rows = "))

print("Pyramid Star Pattern") 

for i in range(0, rows):
    for j in range(0, rows - i - 1):
        print(end = ' ')
    for k in range(0, i + 1):
        print(i, end = ' ')
    print()

Enter Pyramid Pattern Rows = 10
Pyramid Star Pattern
         0
        1 1
       2 2 2
      3 3 3 3
     4 4 4 4 4
    5 5 5 5 5 5
   6 6 6 6 6 6 6
  7 7 7 7 7 7 7 7
 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

In [108]:
st=int(input("enter the pyramid no ="))
print("pyramid number pattern")
for i in range(1,st):
    for a in range(1,st-i+1):
        print(end=" ")
    for b in range(1,i+1):
        print(b,end=" ")
    print()

enter the pyramid no =10
pyramid number pattern
         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9

In [125]:
# print 0 to 9
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [112]:
for i in range(11):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [110]:
# square pattern
        
for i in range(5):
    for j in range(5):
        print(j+1, end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

### square patterns

In [128]:
for i in range(6):
    for u in range(6):
        print(u+1,end=' ')
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

### left triangle pattern

In [132]:
n=5
for i in range(n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [133]:
n=5
for i in range(n+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444
55555

### right triangle pattern

In [134]:
size = 5
for i in range(size):
    for j in range(1, size - i):
        print(" ", end="")
    for k in range(1, i + 2):
        print(k, end='')
    print()

    1
   12
  123
 1234
12345

In [141]:
z=7
for i in range(z):
    for h in range(1,z-i):
        print(end=" ")
    for y in range(1,i+1):
        print(y,end='')
    print()

     1
    12
   123
  1234
 12345
123456

### hollow triange pattern

In [18]:
# hollow triangle number pattern
n = 6
for i in range(1, n+1):
    count = 1
    for j in range(i):
        # print numbers only at the start and end of the row
        if j == 0 or j == i-1:
            print(count, end='')
            count += 1
        # print only numbers if it's last row
        else:
            if i != n:
                print(' ', end='')
            else:
                print(count, end='')
                count += 1
    print()

1
12
1 2
1  2
1   2
123456

### number pyramid pattern

In [188]:
# pyramid number pattern
n = 5
for i in range(n):
    for j in range(n - i - 1):
        print(' ', end='')
    for k in range(2 * i + 1):
        print(k + 1, end='')
    print()

    1
   123
  12345
 1234567
123456789

In [2]:
A=8
for i in range(A):
    for L in range(A-i-1):
        print(end=" ")
    for f in range(2*i+1):
        print(f+1,end="")
    print()

       1
      123
     12345
    1234567
   123456789
  1234567891011
 12345678910111213
123456789101112131415